# Environment Variables
NEXT_PUBLIC_MAPBOX_TOKEN=your_mapbox_token_here
NEXT_PUBLIC_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
NEXT_PUBLIC_SHEET_ID=1Sjceg62Q97-Bo8Y51biCBJeglTVvou3fO005GvhUfxY
